body{
    background-color: rgb(187, 187, 187);
}
table{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff3bd;
    border: 5px grey ridge;
    width: 350px;
}
input{
    font-size: 20px;
    background-color: #ffffff;
    font-family: "Microsoft JhengHei";
}
#count_post{
    width: 290px;
    height: 60px;
    word-wrap:break-word;
    word-break: break-all;
}
#count_num{
    height: 25px;
}
#count_multi{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
}
#count_result{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
}
#totalrow{
    height: 40px;
}
#total{
    background-image: radial-gradient(ellipse, #ecc412 , #6efc52 3px, #aefc9e 60%, #beffc1 40%);
    color: rgb(78, 78, 78);
    padding: 8px;
    cursor: pointer;
}
.inputvalue{
    cursor: pointer;
    height:40px;
    width: 90px;
    background-image: radial-gradient(ellipse, #e3e9f3 , #e0e4eb 3px, #98afdd 80%, #88a5da 20%);
}
.inputmulti{
    cursor: pointer;
    padding-bottom: 5px;
    height:30px;
    width: 90px;
    background-image: radial-gradient(ellipse, #ecc412 , #fc5252 3px, #fc9e9e 60%, #ffbebe 40%);
    color: rgb(78, 78, 78);
}
.inputresult{
    cursor: pointer;
    height:30px;
    width: 90px;
    background-image: radial-gradient(ellipse, #ecc412 , #6efc52 3px, #aefc9e 60%, #beffc1 40%);
}

@media screen and (min-width: 800px){
    table{
        font-size: 30px;
    }
    #blockall{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #table_post{
        height: 120px;
        }
    #table_inputvalue{
        height: 230px;
    }
    #table_inputmulti{
        height: 230px;
    }
    #table_inputresult{
        height: 120px;
    }
}
