@media screen and (min-width: 735px) and (max-height:500px){
    h1{
        display: none;
    }
    #titlephone{
        display: block;
    }
    table{
        font-size: 26px;
    }
    #blockall{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #table_post{
        height: 90px;
        }
    #table_inputvalue{
        height: 190px;
    }
    #table_inputmulti{
        height: 190px;
    }
    #table_inputresult{
        height: 90px;
    }
    .inputvalue{
        height:30px;
    }
    .inputmulti{
        height:30px;
    }
    .inputresult{
        height:30px;
    }
}
h3{
    display: none;
}
body{
    background-color: rgb(187, 187, 187);
}
table{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff3bd;
    border: 5px grey ridge;
    width: 350px;
    margin: 0 auto;
}
td{
    height: 35px;
}
input{
    width: 250px;
    font-size: 20px;
    background-color: #ffffff;
    font-family: "Microsoft JhengHei";
}
#count_post{
    width: 340px;
    height: 60px;
    word-wrap:break-word;
    word-break: break-all;
}
#count_num{
    height: 25px;
}
#count_multi{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
}
#count_result{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

#total{
    background-image: radial-gradient(ellipse, #ecc412 , #6efc52 3px, #aefc9e 60%, #beffc1 40%);
    color: rgb(78, 78, 78);
    padding: 8px;
    cursor: pointer;
}
.inputvalue{
    cursor: pointer;
    width: 110px;
    background-image: radial-gradient(ellipse, #e3e9f3 , #e0e4eb 3px, #98afdd 80%, #88a5da 20%);
}
.inputmulti{
    cursor: pointer;
    padding-bottom: 5px;
    width: 110px;
    background-image: radial-gradient(ellipse, #ecc412 , #fc5252 3px, #fc9e9e 60%, #ffbebe 40%);
    color: rgb(78, 78, 78);
}
.inputresult{
    cursor: pointer;
    width: 110px;
    background-image: radial-gradient(ellipse, #ecc412 , #6efc52 3px, #aefc9e 60%, #beffc1 40%);
}
.inputmulti:hover,.inputvalue:hover,.inputresult:hover,#total:hover{
    background-image:radial-gradient(ellipse, #cecece , #b4b4b4 3px, #838383 60%, #3d3d3d 40%);
    color: black;
}
